li:hover {
    cursor: pointer;
}

.displayBox {
    height: 250px;
    width: auto;
}

img {
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    text-align: center;
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* Add a 'selected' class here to style selected astronaut names a different color. */

.selected {
    color: blue;
}

li {
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-style: inherit;
    font-weight: 100;
    text-align: left;
}
